<h1>メッセージ作成</h1>

<%= simple_form_for @message_list, url: admin_tools_girl_message_lists_path(@girl) do |f| %>
  <%= f.input :text, label: 'テキスト', as: :string %>
  <%= f.button :submit %>
<% end %>

<%= link_to '戻る', admin_tools_girl_message_lists_path(@girl) %>
