<header class='main-header'>
  <div class='navbar navbar-static-top navbar-inverse'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <%= link_to '管理画面', root_path, class: 'navbar-brand' %>
      </div>

      <div class='collapse navbar-collapse' id='navbar-collapse'>
        <ul class='nav navbar-nav navbar-right'>
          <% if admin_user_signed_in? %>
            <li><%= link_to 'ユーザ一覧', admin_tools_users_path, class: 'navbar-link' %></li>
            <li><%= link_to '女の子一覧', admin_tools_girls_path, class: 'navbar-link' %></li>
          <% else %>
            <li><%= link_to 'ログイン', new_admin_user_session_path, class: 'navbar-link' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>
